.submenureset-container{
    background-color: bisque;
    position: fixed;
    padding:5px;
    text-align: center;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    left: 110px;
    width: 300px;
    top: 130px;
}
.reset-btn{
    color: white;
    font-size: 20px;
    background-color: #ff642c;
    border-radius: 5px;
    padding:10px;
    padding-left: 30px;
    padding-right: 30px;
    border:0px;
}